.compare-stats-search-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
}

.compare-stats-stat-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
  .compare-data-column-placeholder {
    height: 17rem;
    border: 1px dashed $text-color-muted;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $text-color-muted;
    margin: 1.5rem 0.3rem 0 0.3rem;
  }
}

.compare-stats-equation {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  .equation-element {
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .equation-icon {
      color: $text-color;
      width: 1.2rem;
      height: 1.2rem;
      font-weight: 800;
    }
  }
}

.compare-info {
  padding-top: 1rem;
  p {
    text-align: center;
    font-size: 0.8rem;
    color: $text-color-muted;
  }

  .badge {
    margin: 0 0.3rem;
    opacity: 0.5;
    color: $bg-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: $text-color-golden;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    padding: 0 0.2rem;
    svg {
      fill: $bg-color;
    }
  }
}
