.compare-stats-search-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
}

.compare-stats-stat-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
  .compare-data-column-placeholder {
    height: 17rem;
    border: 1px dashed $text-color-muted;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $text-color-muted;
    margin: 1.5rem 0.3rem 0 0.3rem;
  }
}

.compare-stats-equation {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  .equation-element {
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .equation-icon {
      color: $text-color;
      width: 1.2rem;
      height: 1.2rem;
      font-weight: 800;
    }
  }
}
