.compare-stats-search-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
}

.compare-stats-stat-container {
  display: grid;
  grid-template-columns: 14fr 1fr 14fr;
  gap: 0.2rem;
}

.compare-stats-equation {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  .equation-element {
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .equation-icon {
      color: $text-color;
      width: 1.2rem;
      height: 1.2rem;
      font-weight: 800;
    }
  }
  &.inactive {
    .equation-element {
      display: none;
    }
  }
}
