.muted {
  color: $text-color-muted;
}

/* grid */
#root .container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

@media (max-width: 992px) {
  #root .container > div {
    flex: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #root .container > div.response-column {
    height: 100vh;
  }
}

@media (min-width: 993px) {
  #root .container > div {
    flex: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* search column styles */

.search-input {
  padding: 0.75rem;
  width: 100%;
  border: 1px solid $text-color-muted;
  border-radius: 0.25rem;
  outline: none;
  input {
    &:focus,
    &:active {
      border: 1px solid $primary-color;
    }
  }
}

/* search results styles */

.search-results {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: flex-start;
  .search-results-column {
    width: calc(50% - 0.5rem);
  }
  button {
    cursor: pointer;
    width: 100%;
    height: 3rem;
    border-radius: 0.25rem;
    border: 1px solid $text-color-muted;
    text-align: center;
    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}

/* response column styles */

.response-column {
  //base info
  .basic-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    .title {
      h2 {
        font-weight: 600;
        line-height: 1;
        font-size: 1.5rem;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      .id {
        font-size: 1rem;
        opacity: 0.8;
        font-weight: 600;
      }
    }
    .ev-yield {
      h2 {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
      }
      ul {
        list-style-position: inside;
        list-style-type: none;
        li {
          margin-bottom: 0.2rem;
          span {
            font-weight: bold;
            font-size: 1rem;
            color: $text-color-success;
          }
        }
      }
    }
  }
  //stat numbers
  .stat-row {
    border-bottom: 1px solid $text-color-muted;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    .span-container {
      width: 70%;
      display: flex;
      justify-content: space-between;
      //stat values bold
      span {
        &:last-of-type {
          font-weight: 700;
        }
      }
      .increased {
        color: $text-color-success;
      }
      .decreased {
        color: $text-color-danger;
      }
      .neutral {
        color: $text-color;
      }
    }
  }
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-top: 0.7rem;
  }
}
