.muted {
  color: $text-color-muted;
}

/* grid */
#root .container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.search-column {
  h1 {
    margin: 0 1rem;
    font-weight: 600;
    line-height: 1;
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  #root .container > div {
    flex: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &.search-column {
      padding: 0;
      h1 {
        margin: 1rem 1rem 0 1rem;
      }
    }
  }
  #root .container > div.response-column {
    height: 100vh;
  }
}

@media (min-width: 993px) {
  #root .container > div {
    flex: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.full-width {
  width: 100%;
  display: inline-block;
}
