.nav-menu {
  display: flex;
  width: 100%;

  .nav-link {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    color: #fff;
    text-decoration: none;
    img {
      width: 1rem;
    }
    &:hover {
      background-color: $bg-color-light;
    }
    &.active {
      background-color: $text-color-muted;
    }
  }
}
