.nav-menu {
  display: flex;
  width: 100%;

  .nav-link {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    img {
      width: 1.2rem;
    }
    &:hover {
      background-color: $text-color-muted;
    }
    &.active {
      background-color: $bg-color-light;
    }
  }
}
