/* reset */
button,
fieldset,
input {
  all: unset;
}

.PopoverContent {
  border-radius: 4px;
  padding: 1rem;
  background-color: $bg-color-light;
}

.PopoverArrow {
  fill: $bg-color-light;
}

.PopoverClose {
  font-family: inherit;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet11);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.PopoverClose:hover {
  background-color: $primary-color;
}
.PopoverClose:focus {
  box-shadow: 0 0 0 2px $primary-color;
}

.IconButton {
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-color-light;
}
.IconButton:hover {
  background-color: $primary-color;
}
.IconButton:focus {
  box-shadow: 0 0 0 2px $primary-color;
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Label {
  font-size: 13px;
  color: $text-color;
  width: 75px;
}

.Input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 1;
  background-color: $bg-color-light;
  height: 25px;
}
.Input:focus {
  box-shadow: 0 0 0 2px $primary-color;
}

.popover-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  button {
    background-color: $primary-color;
    color: $text-color;
    border-radius: 0.2rem;
    padding: 0.3rem 0.7rem;
    // padding: ;
    &:focus {
      background-color: rebeccapurple;
    }
  }
}
