* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  outline: 0;
}
button {
  all: unset;
}

:root {
  font-family: $font-family;
  background-color: $bg-color;
  color: $text-color;
}
