.search-input-container {
  display: flex;
  position: relative;
  .search-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $text-color-muted;
    border-radius: 0.25rem;
    outline: none;
    &:focus {
      box-shadow: 0 0 0 0.2rem $bg-color-light, 0 0 0 0.3rem $primary-color;
    }
  }
  .loader {
    position: absolute;
    z-index: 10;
    right: 0.75rem;
    top: 0.5rem;
  }
}

.search-results {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  gap: 1rem;
  align-content: flex-start;
  .search-results-column {
    width: calc(50% - 0.5rem);
  }
}

//simplified variant 4 compare stats page
.search-column.simplified {
  position: relative;
  .search-input-container {
    padding: 0 0.3rem;
  }
  .search-results {
    &.inactive {
      display: none;
    }
    position: absolute;
    z-index: 1;
    top: 3.3rem;
    left: 0;
    right: 0;
    padding: 0.3rem;
    background-color: $bg-color;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    .search-results-column {
      width: auto;
      background-color: $bg-color;
    }
  }
}
