%input-style {
  border-radius: 0.2rem;
  padding: 0.4rem 1.2rem;
  width: 7rem;
  font-size: 0.9rem;
  color: $text-color;
  cursor: pointer;
  line-height: 1;
}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: $bg-color-light;
  @extend %input-style;
  &:focus {
    box-shadow: 0 0 0 2px $primary-color;
  }
}

.SelectContent {
  background-color: $bg-color-light;
  border-radius: 3px;
  max-height: 16rem;
  overflow-y: scroll;
}

.SelectItem {
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  @extend %input-style;
}

.SelectItem[data-disabled] {
  color: $bg-color;
  pointer-events: none;
  cursor: not-allowed;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: $primary-color;
}
