$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$bg-color: #242424;
$bg-color-light: #313131;
$primary-color: #646cff;
$text-color: #fff;
$text-color-muted: #6b6b6b;
$text-color-success: rgb(110 231 183);
$text-color-danger: rgb(252 165 165);
$text-color-golden: rgb(231, 209, 110);
